<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find ex_3)/urdf/bombel_dynamic.xacro"/>
  <arg name="gui" default="true" />

  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node pkg="ex_4" type="gnuj" name="gnuj" output="screen"/>

</launch>
